body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top right, red, blue);
    
}


.container {
    background-color: red;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);
}

h1, h2 {
	font-family:monospace;
	text-align: center;
}
header{
	background-color: dodgerblue;
	
	

}
.nav{
	background-image: url("matrix1.jpg");
	color:white;

}

.leftright{
	background-color: dodgerblue;
	grid-template-columns: 50px 50px;

}

}
.foot1{
    grid-area:11/3/13/6;
	background-color: green;
	
}