
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top right, red, blue);
}

[class^="griditem"] {
    color: white;
    text-align: left;
    padding-left: 50px;
    
    align-content: space-evenly;
    /*background-color: blue;*/
}
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src:url(fonts/Roboto.woff2) format('woff2'),
    url(fonts/Roboto.tff) format('truetype');
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, auto-fill);
    grid-template-rows: repeat(4, auto-fill);
    grid-template-areas: "header1 header header header" 
        "main main sidebar sidebar" 
        "main main sidebar sidebar" 
        "main main sidebar sidebar" 
        "footer footer footer footer";
    grid-auto-flow: dense;
    grid-gap: 10px;
    padding: 30px;
    
}

.grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.griditem1 {
  grid-area: header;
}

.griditem01 {
    grid-area: header1;
    align-content: center;
    justify-content: center;
}
    .griditem01, h5 {
        color: yellow;
    }

.griditem2 {
  grid-area: main;
}

.griditem3 {
  grid-area: sidebar;
}

.griditem4 {
  grid-column-start: main-start;
  grid-column-end: sidebar-end;
  background-color: rgba(250, 0, 0, .5);
  grid-row: 3;
}

.griditem5 {
  background-color: rgba(250, 0, 0, .5);
  grid-column-start: sidebar-start; /* only takes up one cell because grid-column-end default value is one */
  grid-row-start: sidebar-start;
}

.griditem6 {
  grid-area: footer;}

.logo {
  grid-area: footer;
  align-content: center;

  max-width:70px;
  max-height: 70px;
  padding: 20px;

}
.logo:hover {

  
  transform: scale(1.2);
}
your-img {
    overflow: hidden;
    margin: 0;
    width:300px;
    
}
    your-img img {
        display: block; /*remove inline-block spaces*/
        width: 100%;
        margin: auto;
        border-radius: 50%;
        
    }
    }

.rounded {
	width: 300px;
	margin:auto;
	border-radius:50%;
}
